<aside class="read-next">
    {% if article.next_article %}
    <!-- a class="read-next-story" style="background-image: url('{{ article.next_article.image }}')" href="{{ SITEURL }}/{{ article.next_article.url }}" -->
    <a class="read-next-story" href="{{ SITEURL }}/{{ article.next_article.url }}">
        <section class="post">
            <h2>{{ article.next_article.title }}</h2>
            <!-- p>{{ article.next_article.summary }}</p -->
        </section>
    </a>
    {% endif %}
    {% if article.prev_article %}
    <!-- a class="read-next-story prev" style="background-image: url('{{ article.prev_article.image }}')" href="{{ SITEURL }}/{{ article.prev_article.url }}" -->
    <a class="read-next-story prev" href="{{ SITEURL }}/{{ article.prev_article.url }}">
        <section class="post">
            <h2>{{ article.prev_article.title }}</h2>
            <!-- p>{{ article.prev_article.summary }}</p -->
        </section>
    </a>
    {% endif %}
</aside>
